In [ ]:
#Latihan 1
SELECT *
FROM films
WHERE release_year = 2016;

SELECT COUNT (*)
FROM films
WHERE release_year < 2000;

SELECT title, release_year
FROM films
WHERE release_year > 2000;

In [ ]:
#Latihan 2
SELECT *
FROM films
WHERE language = 'French';

SELECT name
FROM people
WHERE birthdate = '1974-11-11';

SELECT COUNT (*)
FROM films
WHERE language = 'Hindi'

SELECT *
FROM films
WHERE certification = 'R'

In [ ]:
#Latihan 3
SELECT title, release_year
FROM films
WHERE language = 'Spanish'
AND release_year < 2000;

SELECT *
FROM films
WHERE language = 'Spanish'
AND release_year > 2000;

SELECT *
FROM films
WHERE language = 'Spanish'
AND release_year > 2000 
AND release_year < 2010;

In [ ]:
#Latihan 4
SELECT title, release_year
FROM films
WHERE release_year >= 1990
AND release_year < 2000

SELECT title, release_year
FROM films
WHERE (release_year >= 1990 AND release_year < 2000)
AND (language = 'French' or language = 'Spanish')

SELECT title, release_year
FROM films
WHERE (release_year >= 1990 AND release_year < 2000)
AND (language = 'French' OR language = 'Spanish')
AND gross > 2000000

In [ ]:
#Latihan 5
SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000;

SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
AND budget > 100000000;

SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
AND budget > 100000000
AND language = 'Spanish'

SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
AND budget > 100000000
AND (language = 'Spanish' OR language = 'French')

In [ ]:
#Latihan 6
SELECT title, release_year
FROM films
WHERE release_year IN (1990, 2000)
AND duration > 120;

SELECT title, language
FROM films
WHERE language IN ('English', 'Spanish', 'French');

SELECT title, certification
FROM films
WHERE certification IN ('NC-17', 'R');

In [ ]:
#latihan 7
SELECT name
FROM people
WHERE deathdate is NULL;

SELECT title
FROM films
WHERE budget is NULL;

SELECT COUNT (*)
FROM films
WHERE language is NULL;

In [ ]:
#Latihan 8
SELECT name
FROM people
WHERE name LIKE 'B%';

SELECT name
FROM people
WHERE name LIKE '_r%';

SELECT name
FROM people
WHERE name NOT LIKE 'A%';